# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
wheels/

# Virtual environments
.venv/
.env

# Tooling caches
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
